@font-face {
  font-family: "Clarendon";
  src: url('clarendonsetup4-28GX.ttf') format("truetype-variations");
  font-weight: 100 500;
}





@font-face {
  font-family: "star";
  src: url('clarendonsetup4-28GX.ttf') format("truetype-variations");
  font-weight: 100 500;
}









body{


    margin-right: 160px;
    margin-left: 160px;
    margin-top: 20;
/*    background-color: #F7D7E4;*/
    color:#0000FF;      background-color: #FFFFFF;
    font-family: "Clarendon";
/*
    width:750px ;
    height:1000px ;
*/

}
.grid_parent {
    display: grid;
    grid-template-columns: [start] 1fr 1fr 1fr [end];
    grid-gap:20px 1em;
    grid-auto-rows: minmax(50px,auto);
  align-content: start;	
/*    grid-row-gap: 1px;*/

}



.poster{
    grid-column:1/4;
    text-align: center;
}
/* 
.homeparagraph{
       grid-column:1/4;
    padding-top: -30px;
    margin-top: -30px;
}
*/

.image{
   grid-column:1/4; 
}
#image3{
    object-fit:contain;
    width:100%;
}

h1{
    
    font-family: 'Clarendon';
   font-size:30px;
    font-variation-settings: 'wght' 110, 'wonk' 500;
    margin-top:170;
    margin-left: 110px;
        margin-right:110px;
    padding-top: 30px;
    margin-bottom:0;
        color:#0000FF;      background-color: #FFFFFF;
    border-top: 2px solid #0000FF;
    
    
}




h2{
    
    font-family: 'Clarendon';
   font-size:80px;
    font-variation-settings: 'wght' 400;
    margin-top:0;
    margin-bottom:-60;
   color:#0000FF;      background-color: #FFFFFF;
    animation: breathe 3s infinite;
    
    
}


h3{
    
    font-family: 'Clarendon';
   font-size:140px;
    font-variation-settings: 'wonk' 500;
    margin-top:-40;
    margin-bottom:70;
        color:#0000FF;      background-color: #FFFFFF;
    animation: pulse 3s infinite;
    
    
    
}

h4{
    
    font-family: 'Clarendon';
   font-size:20px;
    font-variation-settings: 'wght' 110, 'wonk' 500;
    margin-top:50;
    margin-bottom:0;
      color:#0000FF;      background-color: #FFFFFF;
    
     border-top: 3px solid #0000FF;
      margin-left: 170px;
        margin-right:170px;
    padding-top:20px;
    
    
    
}

.flower{ font-size: 140px;
    font-family: 'star';
    font-variation-settings: 'wght' 100, 'wonk' 100;
    margin: 0;
/*    margin-right: 0;*/
    margin-bottom:-100;
        float:right;
    animation: rotate 25s infinite;
    

}
.locus{ font-size: 110px;
    font-family: 'star';
    margin: 0;
/*    margin-right: 70;*/
    margin-bottom:-100;
        float:right;


}


/*
.container1{
    background-color: #FFF800;
     font-family: 'Clarendon';
    color:black;
    grid-column:1/4; 
    
}
*/
/*

.container2{
    background-color: #FF0000;
     font-family: 'Clarendon';
    color:white;
     grid-column:1/4;
}
*/

.asterick{
      font-size: 140px;
    font-family: 'star';
      font-variation-settings: 'wght' 100, 'wonk' 100;
    margin: 0;
    margin-bottom:-100;

/*    margin-left: 70;*/
        float:left;
    animation: turn 25s infinite;
}

.star{
      font-size: 110px;
    font-family: 'star';
    margin: 0;
    margin-bottom:-100;
/*    margin-left: 70;*/
        float:left;
    animation: turn 20s infinite;
}



@keyframes turn {
  0% {
    transform: rotate(0deg);

  }
  50% {
    transform: rotate(360deg);
 
   
  }
  100% {
    transform: rotate(0deg);

}
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);

  }
    10% {
    transform: rotate(0deg);

  }
  50% {
    transform: rotate(360deg);
 
   
  }
  100% {
    transform: rotate(0deg);

}
}









.type {


  
}

@keyframes pulse {
  0% {
    
 
      font-variation-settings: 'wght' 400, 'wonk' 100;
/*
      font-size:160px;
      margin-top:-40;
*/
  }

 50% {
    

     font-variation-settings: 'wght' 100, 'wonk' 500;
/*
     font-size:190px;
     margin-top:-80;
*/
  }
  
  100% {
    
 
      font-variation-settings: 'wght' 400, 'wonk' 100;
/*
      font-size:160px;
      margin-top:-40;
*/
}
}

.variable {


  
}


@keyframes breathe {
  0% {
    font-variation-settings: 'wonk' 500, 'wght' 300;

  }
  50% {
    font-variation-settings: 'wonk' 200, 'wght' 100;
 
   
  }
  100% {
    font-variation-settings: 'wonk' 500, 'wght' 300;

}
}











h5{
    
    font-family: 'Clarendon';
   font-size:14px;
    font-variation-settings: 'wght' 110, 'wonk' 500;
    margin-top:50;
    margin-left: 90px;
        margin-right:90px;
    padding-top: 0px;
    margin-bottom:150px;
        color:#0000FF;      background-color: #FFFFFF;
   
    
    
}









li{
    display:inline;
    font-size: 15px;
    padding-right:20px;
     font-family: jubilat, serif;
}

ul{
    list-style: none;
    text-decoration: none;
}
.navigation{
    grid-column:1/4;
}

a{
    text-decoration:none;
    color:black;
}

a:hover{
    color:hotpink;
}



.footer{
    grid-column:2/3;
}



 
 
 
       #joy{
       font-family: Chromo;
        font-size: 200px;
        
    }
    
    #spreads{
        text-align: center;
        
    }  
  
    

    @font-face{
        font-family: "clarendon";
        src: url(Documents/variableclarendonsetup04.27GX.ttf);
        font-weight: 400;
    }







/*font-variation-settings for variable fonts*/